*{
    box-sizing: border-box;
}

body{
    padding-top: 55px;
    font-size: 15px;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    background-image: url(../images/general/background1.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}


.main-header{
    width: 100%;
    background-color: #b38f00;
    color:#fff;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-logo{
    margin-left: 50px;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.site-navigation{
    width: 700px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.site-navigation a{
    margin:7px 14px;
    padding: 10px 0;
}

.site-navigation a:hover{
    color: #000000;
    border-bottom: solid 2px #000;
    transition: 1s;
}

.nav-btn{
    display: none;
    color: #000000;
    font-size: 23px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    height: 30px;
}



.mobile-close{
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 6px 13px;
    display: none;
    font-size: 19px;
}

main{
    margin-top: 90px;
}

.menu-container{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; 
}



.nav-item .button{
    display: block;
    padding: 8px 14px;
    margin: 8px 14px;
}



.nav-item .button:hover{
    background-color: #b38f00;
}

.active-button{
    background-color: #b38f00;
}

.active-btn{
    background-color: #b38f00;
}



.menu-nav{
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.menu{
    display: none;
    height: 40px;
    width: 80px;
    margin: 13px 30px;
    background-color: #b38f00;
    color: #000;
    border: none;
    margin-left: auto;
}



.menu-list{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 20px;
}



.menu-item{
    background-color: #0d0d0d;
    padding: 30px;
    margin: 30px;
    width: 260px;
    position: relative;
    margin-bottom: 50px;
}

.menu-item h3{
    text-transform: capitalize;
}

.details-btn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #b38f00;
    display: block;
    margin: 0 5px;
}


.hide-btn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #b38f00;
    margin-left: 25%;
    margin-bottom: 20px;

}

.info{
    padding: 10px;
    text-align: center;
    margin: 0;
}



.active-info{
    display: block;
}

.details-btn:hover{
    box-shadow: 0 0 6px 0 white;
}


.info-container{
    position: absolute;
    display: none;
    bottom: -40px;
    left: 0;
    right: 0;
    background-color: #0d0d0d;
    z-index: 100;
    border-top: 1px solid #fff;
    text-transform: none;
}

.kebab{
    bottom: -50px;
}

.snacks{
    bottom: -22px;
}



.hide-map{
    position: fixed;
    top: 15vh;
    left: 20vw;
    display: none;
}

.show-map{
    display: block;
}

.map-close{
    position: fixed;
    top: 15vh;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    padding: 2px 8px;
    text-transform: lowercase;
    font-weight: bold;
}

.main-footer{
    font-size: 15px;
    background-color: #0d0d0d;
    position: absolute;
    width: 100%;
}

.main-footer .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

}

.footer-contacts{
    color: #ffffff;
    text-align: left;   
    line-height: 20px;
    margin-left: 50px;
}

a.found{
    text-decoration: underline;
}

.social-footer{
    text-align: center;
}

.social-footer p{
    display: block;
    margin-bottom: 20px;
}

.social-button{
    display: inline-block;
    font-size: 21px;
    padding: 10px 12px;
    margin-right: 5px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.social-button:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 1s;
}

.create{
    text-align: center;
   width: 26%;
   margin-right: 50px;
   word-spacing: 3px;
}































@media screen and (max-width:1150px) {
    .hide-map{
        left: 12vw;
    }
   }


@media screen and (max-width: 1024px) {
    .hide-map{
        position: fixed;
        top: 15vh;
        left: 10vw;
        display: none;
    }
 
    .show-map{
        display: block;
    } 
   }

@media screen and (max-width: 1020px) {
    body{
        background-size: cover;
    }      
    
    .found{
        display: none;
    }
}

@media screen and (max-width:800px) {
    .create{
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .social-footer{
        margin-right: 50px;
    }

}

@media screen and (max-width: 768px) {


    body{
       padding-top: 0;
       background-size: cover;
   }

   .main-header{
       position: relative;
   }

   .header-logo{
       margin: 20px;
       margin-left: 60px;
   }

   .nav-btn{
    position: absolute;
    display: block;
    right: 60px;
    top: 50px;
    
}

   .close-btn{
    display: block;
    position: fixed;
    z-index: 10000;
    right: 20px;
    top: 30px;
}

   .site-navigation{
       display: none;
       padding-left: 0;
   }



   .mobile-main-nav{
    margin-left: 0;
    position: fixed;
    z-index: 1000;
    background-color: #b38f00;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    top: 0;
    opacity: 0.99;
    padding-left: 0;
    transition: 0.8s;

}

.site-navigation a:hover{
    border-bottom: 1px solid #000;
    color: #000000;
    transition: 0.8s;
}



.header-logo-none{
    display: none;
}

.nav-btn-none{
    display: none;
}

.mobile-site-nav{
    display: flex;
    flex-direction: column;
    line-height: 90px;
}

.social-button{
    background-color: #fff;
    color: #000;
}


}

@media screen and (max-width: 767px) {
    .menu{
        display: block;
    }
    
}

@media screen and (max-width: 760px) {
    main{
        margin-top: 30px;
    }

    .menu-nav{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    .btn{
        display: block;
        font-size: 17px;
    }


}

@media screen and (max-width: 620px) {



    .footer-contacts{
        margin: 30px 10px;
        text-align: center;
    }
    .main-footer .container{
        display: block;
    }
    .social-footer{
        margin: 0 auto;
    }
    .create{
        width: auto;
        margin: 30px 10px;
    }

 }

 @media screen and (max-width: 425px) {
    .header-logo{
        margin-left: 25px;
    }
 
    .nav-btn{
        height: 30px;
        right: 25px;
        top: 45px;
    }

    
}





